.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, -0.1), rgba(0, 0, 0, 0.8)), url("./../images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    margin-top: 50px;
    border-radius: 0px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-button: 0px;
	margin-top: 10px;

}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;


}

.footer-address-icon{
	padding-right: 10px;

}

.tab-content{
	padding-top: 10px;
}