$grey-dark: #343a40;
$yellow: #FFC300;
$red: #C43112;
$green: #4AD346;


@mixin margin($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../images/Banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    @include margin(50px, 5px);
    border-radius: 0px;
}

.card-hotel{
    flex: 1 200px;
    @include margin(10px, 5px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon, .oi-plus{
    @include padding(10px, 10px, 10px, 10px);
}

.footer {
    background-color: $grey-dark !important;
    color: white;
    @include margin(15px, 0px);
    @include padding(10px, 10px, 0px, 10px);
}
